---
name: Lint code

# Run workflow on pushes to matching branches
on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint_python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Print package versions
        run: |
          uv run ruff --version

      - name: Lint Python
        run: uv run task format